<h1>Home page, Configure youre Cookie, index.hbs</h1>
<h2>{{upper "Select cookie base"}}</h2>


    {{#each bases}}
   <a href="/configurator/select-base/{{this.[0]}}"> <button>Select {{this.[0]}} for {{this.[1]}} $</button></a>
    {{/each}}

<h2>Select youre favorite addons</h2>

    {{#each addons}}
   <a href="/configurator/add-addon/{{this.[0]}}"> <button>Add {{this.[0]}} for {{this.[1]}} $</button></a>
    {{/each}}

{{>cookie-preview}}
{{>addons}}
